<style>
@media (dynamic-range: standard) { :root { --color-text: #eee; } }
@media (dynamic-range: high)     { :root { --color-text: #ccc; } }

* {
    background: black !important;
}

body {
    margin: 0;
}

a:link    { color: hsl(220, 70%, 70%); }
a:visited { color: hsl(270, 70%, 60%); }
a:active  { color: hsl(0, 70%, 70%); }

body, h1, h2, h3, h4, p, li {
    color: var(--color-text);
}

video, img {
    /* .medium is default */
    max-height: 320px;
    min-height: 100px;
    &.large {
        max-height: 640px;
        min-height: 200px;
    }
    &.small {
        max-height: 180px;
        min-height:  60px;
    }
}

p:has(+video) {
    margin-bottom: 0 !important;
    color: #aaa;
    &::before { content: '[video] '; }
}

li:has(a[href*='/scripts/'] + a[href*='/scripts/']),
p:has(a[href*='/scripts/'] + a[href*='/scripts/']) {
    &::before { content: '[script] '; }
    color: #aaa;
}

.highlight {
    .o { color: #aaa !important; } /* operator */
}

</style>
<script>
window.addEventListener("load", function() {
    // remove github accountbaiting
    let a = document.querySelector(".footer a");
    if (a && a.getAttribute("href").indexOf("/totk-tas-docs/edit/") != -1) {
        a.setAttribute("href", a.getAttribute("href").replace("/totk-tas-docs/edit/", "/totk-tas-docs/blob/"));
        a.innerText = "View Source"; // was "Improve this page"
    }
});
</script>
